/*    font-family: 'Alegreya', sans-serif;

    font-family: 'Libre Baskerville', serif;*/

h1, h2, h3, h4, h5 {
	font-family: 'Ubuntu', sans-serif!important;
}

p, li {
	font-family: 'Alegreya', sans-serif!important;
}

/* HEADER*/

@media screen and (max-width: 710px) {
	.watches_banner {display: none;}}

.watches_banner h1 {
	position: absolute;
    top: 50%;
    left: 50%;
    color: #ff8533;}

.watches_banner h1 + p {
	position: absolute;
    top: 60%;
    left: 51%;
    color: darkgrey;
	font-size: 135%;}


/*FIN HEADER*/

/*Watches-items*/
section#watches,
div.watches,
div.cont-watches {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;}

div.card.cont-watches {
	border: none!important;
	transition: all .2s ease-out;
	box-sizing: border-box;
	/*margin: 2%;*/
	position: relative;}

div.card.cont-watches img:hover {
	transform: scale(1.17);
	transition: all .2s ease-in;
	border-top: none;}

img.img-fix:hover {
	transform: scale(1.12)!important;
	transition: all .2s ease-in;}

div.cont-watches img {
	width: 120%;
	margin-bottom: 3%;}

.card-body {padding: 5% 0!important;}

button.btn-card {
	background-color: #ff8533;
	color: white;
	border: none;}

.cont-watches img.card-img-top {
	min-width: 120%!important;
    border-top: 1px solid lightgray;}

.cont-watches.n-bd img.card-img-top {border-top: none!important;}

.card-body h5 {
	font-size: 15px;
	font-weight: 900;}



button.btn-card:hover {
	background-color: white;
	color: #ff8533;
	border: 1px solid #ff8533;
	transition: background-color .25s ease-in;
  	-webkit-transition: background-color .25s ease-in;
  	-moz-transition: background-color .25s ease-in;
  	-ms-transition: background-color .25s ease-in;
  	-o-transition: background-color .25s ease-in;}

.cont-watches div .btn {font-size: 13px!important;}

a.i-btn {
	background-color: white!important;
	color: #ff8533!important;
	border: 1px solid #ff8533!important;}

a.i-btn:hover {
	background-color: #ff8533!important;
	color: white!important;}

.btn {padding: 3px 10px!important;}

.modal-dialog {min-width: 350px!important;}

.modal-body .card {border: none!important;}

.modal-header {
	position: relative;}

.modal-header h3 {
	position: absolute;
	right: 10%;
	color: #ff8533;}

.fixed-button {position: fixed;
	top: 50%;
	right: 3%;
	font-size: 100%!important;}

a span.i-item {font-size: 160%;}

.svg-inline--fa.fa-plus.fa-w-14 {vertical-align: 0!important;}

/*FORMULAIRE*/

.form-group label {
	color: black;
}
