/*How to call fonts

    font-family: 'Arimo', sans-serif;

    font-family: 'Libre Baskerville', serif;*/



.price {
	font-weight: bold;
}

.card {
	border: solid 1px;
}

.card-img-top {
	object-fit: cover;
	padding: 2em;
}

.card-img-top:hover {
	transform: scale(1.3);
	transition: all 0.2s ease-in;
}

.btnInfo {
	margin-left: 100px;
}



.modal-dialog {
    max-width: 40%!important;
    margin: 1.75rem auto;
 }

 .modal-body {
 	max-height: 30%;
 	overflow: scroll;
 }

section {
	padding-top: 2%;
	padding-bottom: 2%;
}

.btn {
	background-color: #ff8533;
	border: solid 1px white;
	color: white;
}

.btn:hover {
	border: solid 1px #ff8533;
	color: #ff8533;
	background-color: white;
}


/*FOOTER*/
.footer {
	background-color: #F4F3F2;
	font-family: 'Arimo', sans-serif;
	padding-bottom: 10px;
	box-shadow: 0px 0px 6px lightgrey;
}

.footerImg {
	height: 40px;
}

.tableFooter {
	padding-left: 5%;
	padding-top: 1.3%;
	font-size: 1.2em;
}

footer a {
	color: #0039e6;
}

.titleFooter {
	font-family: 'Libre Baskerville', serif;
	padding-top: 4%;
	font-size: 1.1em;
}

.inputText {
	height: 100px;
	width: 50%;
}

#btnFooter {
	border: solid 1px white;
	box-shadow: 1px 2px 2px white;
	margin-left: 2.5%;
}

#btnFooter:hover {
	border: solid 1px #ffb84d;
	box-shadow: 1px 2px 2px #ffb84d;
	margin-left: 2.5%;
	background-color: white;
}

footer {
	padding-top: 2%;
	padding-bottom: 2%
}

footer p {
	font-size: 1.1em;
}

.search {
	font-size: 1.5em;
}