/*How to call fonts

    font-family: 'Arimo', sans-serif;

    font-family: 'Libre Baskerville', serif;*/



.price {
	position: absolute;
	right: 5%;
	top: 5%;
	font-weight: bold;
}


.card {
	border: solid 3px #d6d6c2;
}

.card-img-top {
	min-height: 200px;
	min-width: 200px;
}


.card-body {
	background-color: #d6d6c2;
}

section {
	padding-top: 2%;
	padding-bottom: 2%;
}