/*    font-family: 'Arimo', sans-serif;

    font-family: 'Libre Baskerville', serif;*/

#about {
	justify-content: center;
	text-align: center;
	margin-top: 5em;
	padding-top: 3em;
	padding-bottom: 4em;
	background-color: lightgrey;
	box-shadow: 0px 0px 12px grey;

}

.title{
	font-family: 'Libre Baskerville', serif;
	font-size: 3em;
}

.media{
	padding-top: 5em;
	background-color: lightgrey;

}

section {
	padding-top: 2%;
	padding-bottom: 2%;
}



.card{
	transition: all 0.2s ease-out;
}
.card:hover{
	transform: scale(1.1);
	transition: all 0.2s ease-in;
}

.btn {
	background-color: #ff8533;
	border: solid 1px white;
}

.media-img {
	object-fit: cover;
	padding-top: 0.5em;
	padding-bottom: 2em;
}

.media-body{
	text-align: justify;
	font-size: 1.5em;
}

.media-body p{
	font-family: Arimo-Regular;
	font-size: 1.1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;

}


/*Categories*/

.category, .cont-cat a {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;}

img.cat {
	width: 99%;
	height: auto;
	box-sizing: border-box;}

div.cont-cat {
	margin: 3%; 
	border: 1px solid lightgray;}

div.cont-cat:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
	transition: box-shadow .25s ease-in;
  	-webkit-transition: box-shadow .25s ease-in;
  	-moz-transition: box-shadow .25s ease-in;
  	-ms-transition: box-shadow .25s ease-in;
  	-o-transition: box-shadow .25s ease-in;}


/*FOOTER*/
.footer {
	background-color: #ff8533;
	font-family: 'Arimo', sans-serif;
	padding-bottom: 10px;
}

.footerImg {
	height: 40%;
	padding-left: 20%;
}

.tableFooter {
	padding-left: 20%;
}

footer a {
	color: #3366ff;
}

.titleFooter {
	font-family: 'Libre Baskerville', serif;
	padding-top: 4%;
}

.inputText {
	height: 100px;
	width: 50%;
}

.btnFooter {
	border: solid 1px white;
	box-shadow: 1px 2px 2px white;
	margin-left: 2.5%;
}

.btnFooter:hover {
	border: solid 1px #ff8533;
	box-shadow: 1px 2px 2px #ff8533;
	margin-left: 2.5%;
	background-color: white;
}
