/*How to call fonts



    font-family: 'Arimo', sans-serif;

    font-family: 'Libre Baskerville', serif;

*/
.card {
	border: none;
}
.card-img-top{
	object-fit: cover;
	padding: 2em;
	transition: all 0.2s ease-out;
}
.card-img-top:hover{
	transform: scale(1.3);
	transition: all 0.2s ease-in;
}

.btn {
	background-color: #ff8533;
	border: solid 1px white;
	color: white;
}
.btn:hover{
	background-color: white;
	color: #ff8533;
	border: 1px solid #ff8533;
}

.modal {
	font-family: Arimo-Regular;
	font-size: 1.1em;
}

.modal-body img {
	margin-left: 2em;
	padding: 1em;
	box-shadow: 1px 1px 0px 0px rgba(255, 133, 51);

}
.modal-body p {
	padding-top: 1em;
	padding-right: 3em;
	text-align: justify;
}

.modal-body .features{
	margin-left: 2em;
	font-weight: bold;
	font-size: 1.2em;
}

.footer {
	background-color: #343a40;
	font-family: 'Arimo', sans-serif;
	box-shadow: 0px 0px 6px lightgrey;
	padding-top: 5em;
}

.footerImg {
	height: 40px;
}

.tableFooter {
	padding-left: 5%;
	padding-top: 1.3%;
	font-size: 1.2em;
	margin-left: 8em;
}

footer a {
	color: white;
}

footer a:hover{
	color: #ff8533;
	text-decoration: none;
}

.titleFooter {
	font-family: 'Libre Baskerville', serif;
	padding-top: 4%;
	font-size: 1.1em;
}

.inputText {
	height: 100px;
	width: 60%;
}

#email {
	width: 60%;
}

#btnFooter {
	margin-left: 2.5%;
	border: 2px solid #ff8533;
}

#btnFooter:hover {
	border: solid 1px #ff8533;
	margin-left: 2.5%;
	background-color: #343a40;
}

footer {
	padding: 0;
	margin: 0;
}

footer p {
	font-size: 1.1em;
}

footer .info{
	background-color: #212529;
	padding: 1.5em;
	margin-top: 4em;

	color: white;
}

input{
	background-color: lightgrey;
}

form{
	color: white;
}
h3{
	color: white;
}

