/*Watches-items*/
section#watches,
div.watches,
div.cont-watches {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;}

div.card.cont-watches {
	border: none!important;
	transition: all .2s ease-out;
	box-sizing: border-box;
	margin: 2%;
	position: relative;}

div.card.cont-watches img:hover {
	transform: scale(1.17);
	transition: all .2s ease-in;
	border-top: none;}


div.cont-watches img {
	width: 120%;
	margin-bottom: 3%;}

.card-body {padding: 5% 0!important;}

button.btn-card {
	background-color: #ff8533;
	color: white;
	border: none;}

.cont-watches img.card-img-top {
	min-width: 150%!important;
    border-top: 1px solid lightgray;}

.cont-watches.n-bd img.card-img-top {border-top: none!important;}

.card-body h5 {
	font-size: 15px;
	font-weight: 900;}

button.btn-card:hover {
	background-color: white;
	color: #ff8533;
	border: 1px solid #ff8533;
	transition: background-color .25s ease-in;
  	-webkit-transition: background-color .25s ease-in;
  	-moz-transition: background-color .25s ease-in;
  	-ms-transition: background-color .25s ease-in;
  	-o-transition: background-color .25s ease-in;}

.cont-watches div .btn {font-size: 13px!important;}

a.i-btn {
	background-color: white!important;
	color: #ff8533!important;
	border: 1px solid #ff8533!important;}

a.i-btn:hover {
	background-color: #ff8533!important;
	color: white!important;}

.btn {padding: 3px 10px!important;}

.modal-dialog {min-width: 350px!important;}

.modal-body .card {border: none!important;}

.modal-header {
	position: relative;}

.modal-header h3 {
	position: absolute;
	right: 10%;
	color: #ff8533;}


/*FOOTER*/
.footer {
	background-color: #F4F3F2;
	font-family: 'Arimo', sans-serif;
	padding-bottom: 10px;
	box-shadow: 0px 0px 6px lightgrey;}

.footerImg {
	height: 40px;}

.tableFooter {
	padding-left: 5%;
	padding-top: 1.3%;
	font-size: 1.2em;}

footer a {
	color: #0039e6;}

.titleFooter {
	font-family: 'Libre Baskerville', serif;
	padding-top: 4%;
	font-size: 1.1em;}

.inputText {
	height: 100px;
	width: 50%;}

#btnFooter {
	border: solid 1px white;
	box-shadow: 1px 2px 2px white;
	margin-left: 2.5%;}

#btnFooter:hover {
	border: solid 1px #ffb84d;
	box-shadow: 1px 2px 2px #ffb84d;
	margin-left: 2.5%;
	background-color: white;}

footer {
	padding-top: 2%;
	padding-bottom: 2%}

footer p {
	font-size: 1.1em;}


