/*How to call fonts

/*    font-family: 'Arimo', sans-serif;

    font-family: 'Libre Baskerville', serif;*/


/* header*/

.navbar{
	background-color: #ff8533;
	 
}

.navbar-brand{
	font-family: 'Libre Baskerville', serif;
}

.logo{
	width: 70px;
	height: 70px;
}

.nav-link{
	font-family: 'Arimo', sans-serif;
}

.fas{
	height: 20px;
}


.text{
	font-family: 'Arimo', sans-serif;
	font-size: 2em;
}
