/*How to call fonts*/

.p{
  font-family: 'Arimo', sans-serif;
}

.card-title,.price,.modal-title{
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

.modal-body
{
  font-family: 'Arimo', sans-serif;
}
    

.price{
 text-align: left;
}

.card{
  border: transparent;
	transition: all 0.2s ease-out;
}
.card:hover{
	transform: scale(1.1);
	transition: all 0.2s ease-in;
}

.btn {
	background-color: #ff8533;
	border: solid 1px white;
}
